        .container {
            max-width: 900px;
            margin: 40px auto;
            background: #ffffff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        }
		
        .top-section {
            display: flex;
            gap: 40px;
            align-items: flex-start;
            flex-wrap: wrap;
        }

        .profile-header {
            flex: 1;
            text-align: center;
        }
		
		body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }
		
		p {
			margin-right: 30px;
			text-align: center;
			
		}

        h1 {
            margin: 15px 0 5px;
        }
		
		nav {
			text-align: center;
			max-width: 900px;
            margin: 40px auto;
            background: #ffffff;
            padding: 20px;
            border-radius: 8px;
		}
		
		ul li {
			padding: 5px 0px;
		}
		
		ul {
            list-style-type: square;
            padding-left: 20px;
        }
		
		i {
			color: #A86B07;
		}
		
		b {
			color: #0745A8;
		}
		
		h2 {
			color: #855217;
		}
		
		h3 {
			text-align: center;
		}
		
		article {
			max-width: 600px;
            margin: 20px auto;
            background: #D9BBB4;
            padding: 23px;
            border-radius: 6px;
		}
		
		form {
			margin: 20px;
			padding: 30px;
		}
		
		footer {
            text-align: center;
            margin-top: 40px;
            color: #aaa;
            font-size: 14px;
        }

        .title {
            color: #0A1E57;
            font-size: 18px;
        }

        .section {
            margin-top: 30px;
        }

        .section h2 {
            border-bottom: 2px solid #eee;
            padding-bottom: 5px;
        }